body {
    background-color: rgb(200, 162, 209);
    
}
.d1 {
    background-color: rgb(180, 115, 241);
}
.d2 {
    background-color: plum;
}
img {
    width: 100px;
    height: 100px;
    padding: 10px;
}